/* body og general */
html, body {
    padding: 0;
    margin: 0;
    background: #EDE6E3;
  }

h1 {
    font-family: "Arial Black";
    font-size: 4.5em;
    letter-spacing: -5px;
    color: #f0ffff;
    margin-top: 0;
}

h2 {
    font-family: "Arial Black";
    font-size: 3.5em;
    letter-spacing: -5px;
    color: #f0ffff;
    margin-top: 0;
}

h3 {
    font-family: "Arial Black";
    font-size: 2.5em;
    letter-spacing: -5px;
    color: #312f2f;
    margin-top: 0;
}

p {
    font-family: "Arial";
    color: #312f2f;
}

/* header */
.carousel {
    min-height: 100vh;
    background: #CF5C36;
}

.carousel-text {
    padding: 12rem;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}


@media only screen and (max-width: 900px){
    .carousel {
        min-height: 100vh;
    }
    .carousel-text{
      padding: 2em;
    }
  }

/* om mig*/
.om-mig {
    min-height: 60vh;
    padding: 12em;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
}

.om-mig-left {
    width: 70%;
}

.om-mig-right {
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1em;
    background: #f0ffff;
}
  @media only screen and (max-width: 900px){
    .om-mig{
      padding: 2em;
      flex-direction: column;
    }

    .om-mig-left {
        width: 100%;
    }

    .om-mig-right {
        width: 100%;
    }
  }

/* projects */


/* kontakt */
